@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: #21214e;
  color: white;
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
-webkit-touch-callout: none;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}

button:hover {
  cursor: pointer;
  transition: 1s background-color ease;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 52px;
  font-weight: 700;
}

h2 {
  font-size: 45px;
  font-weight: 600;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}
